################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VoteCounter/.vs/VoteCounter/v15/Browse.VC.opendb
